/*!
 * Agence Web Lounge
 * www.agenceweblounge.com
 * 2016
 */

.wrap-utile {padding: 20px; background-color: #EBEBEB;}
.wlutile {margin-bottom: 20px;}
.form-control-label {padding-bottom: 10px; display:block;}

.radio-custom.radio-inline {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.radio-custom label 	{padding:5px 15px 5px 5px}

.wrap-utile .btn {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
    background-color: #363636;
}


